{
   #... define the following part in your application
   #... filenames are relativ to the config->{'static'}->{'dir'} setting
   #
   # 'jobs' => [
   #    {
   #       'src' => [
   #          'js/file1.js',
   #          'js/file1.js',
   #       ],
   #       'dest' => 'js/filename_<% param.version %>.js',         
   #    },
   #    ...
   # ]
}